{% extends "blog/base.html" %}
{% block content %}


    <br>
    {% if messages %}
    {% for message in  messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <br>

{% for Posts in Post %}
<div  style="border-radius:25px;border: 2px solid black;" align="center" >
    <h1>{{ Posts.author | title }}</h1>
    <hr>
    {{ Posts.title }}
    <br>
    <p>{{ Posts.content }}</p>

</div>


<br>
<br>
{% endfor %}


{% endblock content %}


